@font-face {
	font-family: 'Exo 2.0';
	src: url('./fonts/Exo/Exo20-Thin.eot');
	src: local('./fonts/Exo/Exo 2.0 Thin'), local('Exo2.0-Thin'),
		url('./fonts/Exo/Exo20-Thin.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Exo/Exo20-Thin.woff') format('woff'),
		url('./fonts/Exo/Exo20-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Exo 2.0';
	src: url('./fonts/Exo/Exo20-ThinItalic.eot');
	src: local('./fonts/Exo/Exo 2.0 Thin Italic'), local('Exo2.0-ThinItalic'),
		url('./fonts/Exo/Exo20-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Exo/Exo20-ThinItalic.woff') format('woff'),
		url('./fonts/Exo/Exo20-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

// Trebuchet MS
@font-face {
    font-family: 'Trebuchet MS';
    src: url('./fonts/TrebuchetMS/Trebuchet-BoldItalic.eot');
    src: local('./fonts/TrebuchetMS/Trebuchet MS Bold Italic'), local('Trebuchet-BoldItalic'),
        url('./fonts/TrebuchetMS/Trebuchet-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TrebuchetMS/Trebuchet-BoldItalic.woff') format('woff'),
        url('./fonts/TrebuchetMS/Trebuchet-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('./fonts/TrebuchetMS/TrebuchetMS-Bold.eot');
    src: local('./fonts/TrebuchetMS/Trebuchet MS Bold'), local('TrebuchetMS-Bold'),
        url('./fonts/TrebuchetMS/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TrebuchetMS/TrebuchetMS-Bold.woff') format('woff'),
        url('./fonts/TrebuchetMS/TrebuchetMS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('./fonts/TrebuchetMS/TrebuchetMS-Italic.eot');
    src: local('./fonts/TrebuchetMS/Trebuchet MS Italic'), local('TrebuchetMS-Italic'),
        url('./fonts/TrebuchetMS/TrebuchetMS-Italic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TrebuchetMS/TrebuchetMS-Italic.woff') format('woff'),
        url('./fonts/TrebuchetMS/TrebuchetMS-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: url('./fonts/TrebuchetMS/TrebuchetMS.eot');
    src: local('./fonts/TrebuchetMS/Trebuchet MS'), local('TrebuchetMS'),
        url('./fonts/TrebuchetMS/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TrebuchetMS/TrebuchetMS.woff') format('woff'),
        url('./fonts/TrebuchetMS/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}